{% extends "profile_app/base.html" %}


{% block title %}
Create
{% endblock title %}


{% block content %}

<h1>This is Create page.</h1>

<br>

<!-- Form to create a Profile -->
<h3>Create Profile.</h3> 

<form action="{% url 'profile_app:create' %}" method="post">
    {% csrf_token %}
    {{ form.as_div }}
    <button type="submit">Create</button>
</form>

<!-- If don't want to create; Go Back -->
<a href="{% url 'profile_app:dashboard' %}">Return</a>


{% endblock content %}