<nav class="navbar navbar-expand-lg text-white bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'profile_app:home' %}">ProfileX</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        
        {% if user.is_authenticated %}

          <li class="nav-item">
              <span class="navbar-text me-2">Hello, {{ user.username }}.
                </span></li>

        {% comment %} <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'profile_app:dashboard' profile.pk %}">Dashboard</a>
        </li> {% endcomment %}

        {% comment %} <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'profile_app:create' %}"
            >Create</a
          >
        </li> {% endcomment %}


        <form action="{% url 'accounts:logout' %}" method="post">
          {% csrf_token %}
          <button name='submit' class='btn btn-success'>
              Log out</button>
        </form>

        {% else %}

        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'profile_app:home' %}"
            >Home</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'accounts:register' %}"
            >Register</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link active"
            aria-current="page"
            href="{% url 'accounts:login' %}"
            >Login</a
          >
        </li>

        {% endif %}
      </ul>
    </div>
  </div>
</nav>
