<nav class="mx-12 my-8 p-4 border-2 border-gray-800 rounded-3xl bg-white shadow-lg">
    <div class="flex justify-between items-center">

        <!-- logo -->
        <a class="text-blue-600 text-4xl font-bold tracking-wide" href="{% url 'profile_app:home' %}">
            ProfileX
        </a>

        <!-- Menu -->
        <ul id="menu" class="hidden md:flex space-x-6 items-center">

            {% if user.is_authenticated %}

                <li>
                    <span class="text-gray-700 text-lg font-medium">
                        Hello, {{ user.username }}.
                    </span>
                </li>
     {% comment %} 
    <li class="nav-item">
          <a
            class="text-gray-700 hover:text-blue-600 transition font-medium text-lg"
            aria-current="page"
            href="{% url 'profile_app:dashboard' profile.pk %}">Dashboard</a>
        </li>
         {% endcomment %}

        {% comment %} 
        <li class="nav-item">
          <a
           class="text-gray-700 hover:text-blue-600 transition font-medium text-lg"
            aria-current="page"
            href="{% url 'profile_app:create' %}"
            >Create</a
          >
        </li> 
        {% endcomment %}
                <li>
                    <form action="{% url 'accounts:logout' %}" method="post">
                        {% csrf_token %}
                        <button name="submit" 
                            class="px-4 py-2 bg-red-600 text-white rounded-xl hover:bg-red-700 transition font-semibold">
                            Log out
                        </button>
                    </form>
                </li>

            {% else %}

                <li>
                    <a href="{% url 'profile_app:home' %}" 
                       class="text-gray-700 hover:text-blue-600 transition font-medium text-lg">
                        Home
                    </a>
                </li>

                <li>
                    <a href="{% url 'profile_app:home' %}" 
                       class="text-gray-700 hover:text-blue-600 transition font-medium text-lg">
                        About Us
                    </a>
                </li>

                <li>
                    <a href="{% url 'accounts:register' %}" 
                       class="text-gray-700 hover:text-blue-600 transition font-medium text-lg">
                        Register
                    </a>
                </li>

                <li>
                    <a href="{% url 'accounts:login' %}" 
                       class="text-gray-700 hover:text-blue-600 transition font-medium text-lg">
                        Login
                    </a>
                </li>

            {% endif %}
        </ul>
    </div>
</nav>
    </div>
  </div>
</nav>

